/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002B5B;
  padding: 1rem 2rem;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo img.navbar-logo-img {
  height: 40px;
  width: auto;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #00A4FF;
}

.navbar-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #00A4FF;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

.navbar-icon:hover {
  color: #00A4FF;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-actions .navbar-icon {
  margin-left: 1.5rem;
  cursor: pointer;
}

.navbar-user {
  position: relative;
  cursor: pointer;
}

/* Dropdown Menu Styles */
.navbar-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  min-width: 150px;
  display: none; /* Initially hidden */
}

.navbar-user:hover .navbar-dropdown {
  display: block; /* Show dropdown on hover */
}

.navbar-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-dropdown li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.navbar-dropdown li:last-child {
  border-bottom: none;
}

.navbar-dropdown li:hover {
  background-color: #002B5B; /* Hover effect for dropdown items */
}

.navbar-dropdown li a {
  color: #002B5B;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-dropdown li a:hover {
  background-color: #002B5B;
  color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-actions {
    flex: 1;
    justify-content: flex-end;
  }
}
